extends ../layouts/main-layout.pug
block styles
    link(rel="stylesheet", href="")
block content
    main
        if prods.length > 0
            .grid
                each product in prods
                    article.card-article
                        header.card-article-header
                            h1.product-title #{product.title}
                            img(src=product.imageUrl alt=product.title)
                            h1.product-price #{product.price}
                            p.product-desc #{product.description}
                        .action-btn
                            <a href="/admin/edit-product/#{product._id}?edit=true" class="btn">Edit</a>
                            form(action="/admin/delete-product" method="POST")
                                <input type="hidden" name="productId" value=#{product._id}>
                                <button class="btn" type="submit">Delete</button>


        else
            h1 No Products found!!!